*.js
js/
dist/*
!dist/html
!dist/output/final/.gitkeep
!dist/output/segment/.gitkeep
!dist/output/temp/.gitkeep
!dist/output/wav/.gitkeep
!dist/db
!dist/cities/cities.json
node_modules/
dsModel/*
!dsModel/.gitkeep
